*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: .5s ease-in-out;
}
html{
	background-color: #fff;
}
body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: #f7f7f7;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.container::after, .row::after{
	content: "";
	display: table;
	clear: both;
}

.navbar, .container{
	padding: 0 15px;
}
.navbar{
	display: block;
	width: 100%;
	max-width: 1200px;
	height: 60px;
	background-color: #48f;
	color: #fff;
	position: fixed;
	top: 0;
	z-index: 10;
	border-bottom: 1px solid #444;
}
.nav{
	width: inherit;
	list-style: none;
	max-height: 0;
	background: #fff;
	float: none;
	position: absolute;
	overflow: hidden;
	top: 60px;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0 10px;
	background-color: #48f;
}
.nav-active{
	max-height: 310px;
}
.nav-btn{
	margin-top: 10px;
	margin-left: 20px;
	width: 40px;
    height: 40px;
    border: none;
}
.nav-btn:hover{
	background-color: #888;
}
.nav li{
	display: block;
	text-align: center;
}
.nav a{
	color: #f1f1f1;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	display: block;
	line-height: 60px;
	text-decoration: none;
	outline: none;
	border-bottom: 1px solid #444;
}
.nav a:hover{
	background-color: #00f;
	padding: 0;
}
main{
	position: relative;
	top: 60px;
	min-height: 100vh;
}
.container{
	display: block;
}
.col{
	text-align: center;
}
.col-main:first-child{
	margin-top: 60px;
	padding-top: 20px;
}
.col-main{
	padding: 0 10px;
	margin-bottom: 20px;
}

.col img{
	width: 100%;
}
.col-full{
	padding: 0 20px;
}
.col-full span{
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
.col-full h1{
	text-align: center;
	color: #666;
	margin-top: 20px;
	margin-bottom: 40px;
}
.col-full p{
	margin-bottom: 60px;
}

#social a{
	display: inline-block;
 	width: 42px;
 	height: 42px;
 	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
    line-height: 42px;
    border-radius: 50%;
    margin-left: 10px;
    color: #888;
    outline: none;	
}
#social a:hover{
	background-color: #fff;
	color: #111;
}
.audiocontainer, .videocontainer{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}
.audiocontainer h1, .videocontainer h1{
	color: #666;
}
.audio, .video{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	outline: none;
}
audio, video{
	max-width: 90%;
	outline: none;
}
#playlist{
	list-style: none;	
}

#playlist li a{
	display: block;
	width: 300px;
	padding: 6px 0; 
	margin: 6px auto;
	color: #666;
	text-decoration: none;
	outline: none;
}
#playlist li a:hover{
	background-color: #48f;
	border-radius: 5px;
}

#playlist .current-song a{
	color: #800;
}
footer{
	position: relative;
	margin-top: 20px;
	background-color: #333;
	color: #888;
}
footer .col{
	padding: 20px;
}
footer .copyright{
	margin-top: 10px;
}
@media (min-width: 768px){
	.nav{
		top: 0;
		padding: 0;
		max-height: 62px;
	}
	.nav-btn{
		display: none;
	}
	.nav li{
		display: inline-block;
		float: left;
		width: 20%;
	}
	.col-main, .col-main:first-child{
		margin-top: 60px;
		padding-top: 20px;
	}
	.col{
		float: left;
		width: 33.3333333336%;
	}
	.col-full{
		width: 100%;
	}
	.audiocontainer, .videocontainer{
		float: left;
		width: 50%;
	}
	
}
@media (min-width: 992px){

}
